body{
  margin: 0;
  padding: 0;
}

.bg-img{
  margin: 0;
  padding: 0;

  height: 1000px;
  width: auto;
  background-color: red;
  background: url(../images/bg-image2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.5rem;
}

.quote{
  top: 35%;
  left: 20%;
  position: absolute;
  color: red;
  text-align: center;

}

#sec3{
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonial-text{

  font-size: 3rem;
  font-family: Montserrat;
  font-weight: 700;
}

.testimonial-dogph{
  border-radius: 100%;
  width: 10%;
  margin: 2% 2%;
}

.carousel-item{
  padding:7% 15%;
}

#sec4{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #16384c;
}

.container{
  position: relative;
  width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px;
}

.container .card{
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px  rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.container .card:hover{
  height: 420px;
}

.container .card .imgBX{
  position: relative;
  max-width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px  rgba(0, 0, 0, 0.2);
}

.container .card .imgBX img{
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

#sec-5{
   text-align: center;
   margin-top: 60px;
}


.donate-btn{
    border: 1px solid red;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Montserrat;
    cursor: pointer;
    margin: 10px;
    color: red;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.donate-btn:hover{
  color: #fff;
}

.donate-btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: red;
  z-index: -1;
  transition: 0.8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.donate-btn:hover::before{
  height: 180%;
}

.wrapper{
  position: fixed;
  bottom: 40%;
  left: 10px;
}
.wrapper .button{

  display: block;
  height: 50px;
  width: 50px;
  margin: 7px 0;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.281);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 160px;
}
.wrapper .button .icon{
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 50px;
  transition: all 0.3s ease-out;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 50px;

}
.wrapper .button:hover .icon i{
  color: #fff;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #426782;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #01E675;
}
.wrapper .button span{

  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 10px;
  position: relative;
  bottom: 50px;
  left: 50px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #426782;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #01E675;
}


 #footer{
   padding: 7% 15% 2%;
   text-align: center;
}

section .wave{
  position: absolute;
  width: 100%;
  height: 143px;
  bottom: 100;
  left: 0;
  background: url(../images/wave.png);
  animation: animate1 10s linear infinite;
  z-index: -1;

}
section .wave:before{
  content: '';
  width: 100%;
  height: 143px;
  background: url(../images/wave.png);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  animation: animate-reverse1 10s linear infinite;
}
section .wave:after{
  content: '';
  width: 100%;
  height: 143px;
  background: url(../images/wave.png);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  animation-delay: -5s;
  animation: animate1 20s linear infinite;
}
@keyframes animate1
{
  0%
  {
    background-position: 0;
  }
  100%{
    background-position: 1360px;
  }

}
@keyframes animate-reverse1
{
  0%
  {
    background-position: 1360px;
  }
  100%{
    background-position: 0;
  }

}

.footer-fa{
  padding:1% .5%;
  z-index: 2;
}
